@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Cookie');

body{
	font-family: "Lato";
	color: grey;
}

.container{
	width: 100%;
	height: 100%;
	max-width: 960px;
	margin: 0 auto;
}

/*header*/

.blue {
	background-color: rgba(25, 39, 76, 0.9);
	width: 100%;
    height: 100vh;
    padding-top: 32vh;
}

.blue-header{
	background-color: rgba(25, 39, 76, 0.9);
}

.blue-header .white-box{
	color: white;
	font-weight: 300;
}

nav {
	text-transform: uppercase;
}

 nav li a{
 	font-size: 10px;
 }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: rgba(25, 39, 76, 0.9););
}

.nav-border{
	border-bottom: 2px solid grey;
}

.navbar-nav{
	float: right;
}


/*jumbotron*/

.jumbotron{
	width: 100%;
	height: 100vh;
	text-align: center;
	background-image: url(https://static.pexels.com/photos/185348/pexels-photo-185348.jpeg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	color: white;
	padding-top: 50px;

}

.jumbotron .container{
	max-width: 960px;
}

.jumbotron h1{
	margin: 0;
	font-size: 52px;
	font-weight: 500;
	padding-bottom: 30px;
}

.jumbotron button{
	margin-top: 30px;
	font-size: 15px;
	border-radius: 2px;
	font-size: 15px;
}

/*icon-icon*/

.icon-section i {
	color: #E7310D;
	font-size: 40px;
	padding-top: 45px;
}

.icon-section h3{
	font-size: 19px;
	color: #45403E;
}

.icon-section p{ 
	font-size: 14px;
	font-weight: 300;
	padding-bottom: 45px;
}

/*gallery*/
.hover{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(229, 59, 25, 0.7);
	color: white;
	margin-left:-15px;
	padding-top: 70px;
	font-weight: 300;
}

.hover h4{
	text-transform: uppercase;
	margin-bottom: 2px;
	font-size: 12px;
}
.hover p{
	font-size: 10px;
}

.image:hover .hover{
	display: block;
	position: absolute;
}

.image {
	height: 200px;
	border: 1px solid white;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.image-1{
	background-image: url(http://oi66.tinypic.com/2cxaww.jpg);
}

.image-2{
	background-image: url(http://oi65.tinypic.com/2rztmvs.jpg);
}

.image-3{
	background-image: url(http://oi64.tinypic.com/33xfqq8.jpg);
}

.image-4{
	background-image: url(http://oi64.tinypic.com/4u6stx.jpg);
}

.image-5{
	background-image: url(http://oi66.tinypic.com/16hsv0g.jpg);
}

.image-6{
	background-image: url(http://oi68.tinypic.com/2uqeio5.jpg);
}

.image-7{
	background-image: url(http://oi65.tinypic.com/20uu5hx.jpg);
}

.image-8{
	background-image: url(http://oi68.tinypic.com/28qqc0i.jpg);
}

/*employers*/
.employer{
	text-align: left;
}

.employer-picture {
	margin: auto;
	margin-top: 60px;
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.employer-1{
	background-image: url(http://oi66.tinypic.com/34obx4n.jpg);
}

.employer-2{
	background-image: url(http://oi65.tinypic.com/vg1zth.jpg);
}

.employer-3{
	background-image: url(http://oi68.tinypic.com/dc8p48.jpg);
}

.employer-4{
	background-image: url(http://oi64.tinypic.com/347vfj7.jpg);
}

.employer h4{
	font-size: 20px;
}

.employer h5{
	text-transform: uppercase;
	color: red;
}

.employer button{
	background-color: white;
	border:1px solid grey;
	margin-bottom: 60px;
	font-size: 15px;
	width: 28px;
}
.employer button:hover{
	background-color: grey;
	color: white;
}

/*image-caorusel*/
.image-9{
	height: 474px;
	background-image: url(http://oi66.tinypic.com/29prsyg.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.image-caorusel .carousel-control .glyphicon-chevron-right, .image-caorusel .carousel-control .icon-next,
.image-caorusel .carousel-control .glyphicon-chevron-left, .image-caorusel .carousel-control .icon-previous {
	display: none;
}

.col-lg-6-carousel{
	padding-right: 0;
	padding-left: 0;
}

.carousel-caption{
	top: 20%;
	left: 20%;
}

.item{
	height: 474px;
	color: white;
	margin-left:-20px;
}

.item p{
	font-family: "Cookie'";
	font-style: italic;
	font-size: 30px;
	text-align: left;
}

.item h3{
	text-transform: uppercase;
	font-size: 10px;
	text-align: left;

}


.item-1{
	background-color: #C14242;
}

.item-2{
	background-color: #BF3F7F;
}

.item-3{
	background-color: #602A97;
}

.item-4{
	background-color: #345c9b;
}

.item-5{
	background-color: #105E88;
}

/*promo*/
.promo{
	margin-top: 100px;
	margin-bottom: 100px;
}
.promo h3{
	font-weight: 300;
}

.promo h4{
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 25px;
}
.promo button{
	font-size: 10px;
}

/*footer*/
footer {
	background-color: rgba(25, 39, 76, 0.9);
	color: white;
	text-align: center;
	padding-top: 20px;
}
footer h4{
	text-transform: uppercase;
	font-size: 15px;
}
footer p{
	font-size: 13px;
	color: grey;
}

footer button{
	border: 1px solid white;
	background-color: rgba(25, 39, 76, 0.0); 
	font-size: 12px;
	width:24px 
}

footer button:hover{
	color: rgb(25, 39, 76);
	background-color: white; 
}

footer .fa-heart{
	color: red;
	font-size: 10px;
}
 footer .end {
	background-color: #0c2651;
	max-width: 100%;
}
footer .end p{
	font-size: 12px;
	color: white;
}





